body{
    margin:0;
}
h1{
    font-size: 55px;
    line-height: 25px;
}
h2{
    font-size: 40px;
    line-height: 25px;
}
h3{
    font-size: 30px;
    line-height: 5px;
}
p{
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
}
.center{
    text-align: center;
}
.orange-color{
    color: orange;
}
.red-btn{
    text-decoration: none;
    padding:13px 40px;
    background-color: #FF5959;
    color: white;
    border-radius: 5px;
    
}
.half-width{
    width: 50%;
    margin-left: 130px;
    margin-right: 80px;
}
/*===========Header Area Start==============*/
.flexible-container{
    display: flex;
    padding-bottom: 70px;
}
.half-width img{
    width: 85%;
}
.header-heading {
    height: 100px;
    border-left:3px solid #FF5959;
    padding:0 10px;
}
#header-left{
    padding-top:100px;
}

/*===========Header Area End==============*/
/*===========Mission Area start===========*/

.one-third{
    width:23%;
   
    margin:13px;
    padding:25px;
    border-radius: 25px;
    
}
.one-third img{
    width:50%;
    
}
.one-third p{
    padding:0;
}
#mission-details{
    margin-left:130px;
    background-color: #edf5f6;
}
#vission-details{
    background-color: #ffeeee;
}
#goals-details{
    background-color:#fff4d6;
}
/*===========Mission Area End===========*/
/*=====Develop Without Limits Area Start=====*/
#develop-area{
    
    
}
.develop-area-left{
    width: 40%;
    margin-left: 40px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size:200px 200px;
    background-position: left;
    
}
.develop-area-right{
    width: 60%;
    margin:0 100px;
}
.develop-area-left img{
    width: 90%;
    margin-left: 90px;
    
}
/*=====Develop Without Limits Area End=====*/
/*====Global Community area start=========*/
.global-community-area-left{
    width:50%;
    margin-left: 130px;    
}
.global-community-area-right{
    width:40%;
    
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size:150px 150px;
    background-position: bottom 25px right 95px;
    
}
.global-community-area-right img{
    width:70%; 
    margin-bottom: 70px; 
}
/*====Global Community area End=========*/
/*=====Our team area start======*/
.our-team{
    margin-left: 130px;
}
.one-fourth-width{
    width:20%;
    box-shadow: 10px 10px 100px lightgray;
    border-radius: 20px;
    margin-right: 20px;
    padding:10px;
}
.one-fourth-width img{
    width: 100%;
    
}
/*=====Our team area end======*/
.footer-area{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer-area span{
    color:red;
}